@font-face {
  font-family: 'Open Sans';
  src: url(./open-sans);
}

$primaryBlue: #083d8c;
$royalBlue: #216ddf;
$teal: #08c8c7;
$white: #ffffff;
$offWhite: #f6f6f6;
$lightGray: #cfcfcf;
$darkGray: #434343;

$font_family: "Open Sans", sans-serif;

body {
  font-family: $font_family;
}
a {
  text-decoration: none;
}
#static-modal {
  display: none;
}
label {
  img {
    vertical-align: middle;
  }
}
input[type='checkbox'] {
  position: absolute;
  left: -9999px;
  &:checked {
    &+label.filter {
      &:before {
        width: 10px;
        height: 10px;
        background-color: $white;
        border: 10px solid $primaryBlue;
        border-radius: 10px;
      }
    }
  }
}
label.filter {
  position: relative;
  padding: 15px 30px 15px 50px;
  cursor: pointer;
  user-select: none;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    transition: background-color .2s;
    background-color: $white;
    border: 1px solid $lightGray;
    border-radius: 10px;
  }
  &:first-of-type {
    transform: translateX(-40px);
  }
  &:last-of-type {
    transform: translateX(40px);
  }
}
#dealersInZipCode {
  padding-right: 2em;
  display: inline;
  color: $primaryBlue;
  font-weight: bolder;
  border-right: 1px solid $lightGray;
}
#poolFilterContainer {
  width: 75%;
  margin: auto;
}
#filterSelects {
  display: inline;
  display: inline-block;
}
#topHeader {
  text-align: right;
  background-color: $primaryBlue;
  padding: 20px;
  a {
    text-decoration: none;
    color: $white;
    padding: 20px;
  }
  img {
    vertical-align: middle;
  }
}
.pageContainer {
  width: 80%;
  margin: -5.3% auto auto;
  text-align: center;
}
#waterImage {
  background: url("assets/images/water-image.png") no-repeat;
  box-sizing: border-box;
  width: 100%;
  height: 199px;
  background-size: 100% 100%;
}
#filters {
  text-align: right;
  display: inline;
  padding-left: 20px;
}
#poolProsFilter {
  background-color: $offWhite;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
  &:before {
    background-color: $offWhite;
    display: block;
  }
  h3 {
    display: inline;
  }
}
.dealerCertificationContainer {
  float: left;
  width: 50%;
  margin-bottom: 10px;
  span {
    padding: 10px;
    img {
      vertical-align: middle;
    }
  }
}
.contactPhone {
  h2 {
    display: inline;
    padding-left: .50em;
    vertical-align: middle;
  }
  img {
    vertical-align: middle;
    height: 30px;
    width: 30px;
  }
}
#poolProsContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}
#poolPros {
  margin: auto;
}
.dealerDataContainer {
  border: 1px solid $lightGray;
  border-radius: 10px;
  box-shadow: 5px 5px $lightGray;
  display: inline-table;
  height: 400px;
  width: 475px;
  margin: 10px;
}
.dealerDataInnerContainer {
  width: 90%;
  margin: auto;
  text-align: center;
  h3 {
    font-size: 28px;
    font-weight: lighter;
    color: $darkGray;
  }
}
.dealerNameContainer {
  height: 75px;
}
.contactThisPro {
  border: 2px solid $teal;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 3px;
  width: calc(100% / 2);
  margin: auto;
  img {
    vertical-align: middle;
    width: 20px;
  }
  a {
    vertical-align: middle;
  }
}
.dealerCertifications {
  background-color: $offWhite;
  height: 75px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.modalFormHeader {
  background-color: $primaryBlue;
  color: $white;
  div {
    padding: 30px;
  }
}
.innerEmailForm {
  background-color: $offWhite;
  padding: 20px;
  margin: 20px;
  label {
    font-weight: bold;
  }
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  span.optional {
    font-style: italic;
    text-align: right;
    float: right;
  }
}
.formLabelContainer {
  margin-bottom: 5px;
  img {
    height: 20px;
    vertical-align: middle;
    text-align: right;
    float: right;
  }
}
.formInputContainer {
  margin-bottom: 10px;
}
.formSubmitButtonContainer {
  text-align: center;
  padding: 20px;
  button {
    background-color: $offWhite;
    border: 0;
    font-weight: bolder;
    font-size: 20px;
    vertical-align: middle;
    &:before {
      content: "Send my email";
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
    &:after {
      content: url('./assets/images/next-arrow.png');
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
    &:hover {
      color: $primaryBlue;
      cursor: pointer;
    }
    img {
      vertical-align: middle;
    }
  }
}
.switchField {
  overflow: hidden;
  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    &:checked {
      &+label {
        background-color: $teal;
        color: $white;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  label {
    float: left;
    display: inline-block;
    width: 60px;
    background-color: $white;
    color: $darkGray;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid $darkGray;
    -webkit-box-shadow: inset 0 1px 3px $offWhite, 0 1px $darkGray;
    box-shadow: inset 0 1px 3px $offWhite, 0 1px $darkGray;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
    }
    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }
    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }
}
footer {
  color: $white;
  left: 0;
  bottom: 0;
  width: 100%;
  a {
    text-decoration: none;
    color: $white;
  }
}
#footerTop {
  background-color: $primaryBlue;
  text-align: center;
  min-height: 125px;
  padding-top: 50px;
  .socialIcon {
    vertical-align: middle;
    height: 25px;
  }
}
#footerLogo {
  width: 200px;
  padding-bottom: 20px;
}
#footerBottom {
  background-color: $royalBlue;
  text-align: center;
  padding: 20px 0;
}
header {
  position: relative;
  border-bottom: 2px solid $lightGray;
  min-height: 4.5em;
  padding: 25px;
  background: $white;
}
#toggle {
  display: none;
}
.toggle {
  display: none;
  z-index: 2;
}
.menu {
  >li {
    list-style: none;
    float: left;
    height: 100%;
    >a {
      height: 100%;
      display: block;
      padding: 1.5em;
      color: $primaryBlue;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &:hover {
        color: $darkGray;
      }
      &:focus {
        color: $darkGray;
      }
    }
  }
  height: 100%;
}
.clearfix {
  &:before {
    display: table;
    content: "";
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}
#poolProsLogoContainer {
  display: inline-block;
  margin: 0;
  padding: 0.785714286em;
  line-height: 1;
  width: calc((100% / 3));
  >img {
    float: left;
    width: 80%;
  }
}
.findAPoolPro {
  border: 1px solid $primaryBlue;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float: right;
  width: 175px;
  display: inline-block;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
  div {
    display: inline;
    vertical-align: middle;
  }
  img {
    display: inline;
    vertical-align: middle;
    width: 25px;
  }
  a {
    vertical-align: middle;
  }
}
.filterSelectContainer {
  display: inline;
}
nav {
  display: block;
  float: right;
  height: 100%;
}
@media only screen and (max-width: 1000px) {
  #poolProsFilter {
    width: 800px;
  }
}
@media only screen and (max-width: 768px) {
  .menu {
    background: $white;
    border-top: 1px solid $primaryBlue;
    display: none;
    opacity: 0;
    width: 100%;
    position: absolute;
    right: 0;
    height: auto;
    >li {
      display: block;
      width: 100%;
      margin: 0;
      height: auto;
      >a {
        display: block;
        width: 100%;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-weight: bolder;
        color: $darkGray !important;
        font-size: 24px;
        height: auto;
        padding: 15px 15px;
        &:after {
          content: url('./assets/images/next-arrow.png');
          vertical-align: middle;
          text-align: right;
          float: right;
        }
      }
    }
  }
  #topHeader {
    display: none;
  }
  #poolProsLogoContainer {
    >img {
      width: 100%;
    }
    text-align: center;
    float: left;
  }
  .findAPoolPro {
    float: left;
  }
  .toggle {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    height: 75px;
    width: 75px;
    float: right;
    &:before {
      content: url('./assets/images/menu-icon-mobile.png');
      transform: scale(.5);
      display: block;
      margin-top: -30px;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    &:hover {
      &:before {
        color: $royalBlue;
      }
    }
  }
  #toggle {
    &:checked {
      &+nav {
        .menu {
          display: block;
          opacity: 1;
        }
        .toggle {
          &:before {
            content: attr(data-close);
            margin-top: 10px;
            font-size: 60px;
            font-weight: bolder;
            color: $teal;
          }
        }
      }
    }
  }
  #filterSelects {
    display: none;
    width: 100%;
    height: 100%;
    text-align: left;
  }
  .filterSelectContainer {
    padding-top: 2em;
    display: block;
  }
  #dealersInZipCode {
    font-size: 12px;
  }
  #filterResultsContainer {
    font-size: 16px;
    display: block;
    &:after {
      content: url('./assets/images/drop-down-arrow.png');
    }
  }
  #poolProsFilter {
    width: 500px;
  }
  .contactPhone {
    background-color: $royalBlue;
    margin: 50px;
    padding: 5px;
    h3 {
      display: inline !important;
      color: $white;
      font-size: 14px;
      font-weight: bolder;
    }
    h2 {
      display: inline;
      color: $white;
    }
    img {
      content: url('./assets/images/phone-icon-mobile.png');
      float: left;
    }
  }
}
@media only screen and (max-width: 575px) {
  #topHeader {
    display: none;
  }
  #poolProsLogoContainer {
    >img {
      width: 100%;
    }
    text-align: center;
    float: left;
  }
  .findAPoolPro {
    float: left;
  }
  #filterSelects {
    display: none;
    width: 100%;
    height: 100%;
    text-align: left;
  }
  .filterSelectContainer {
    padding-top: 2em;
    display: block;
  }
  #dealersInZipCode {
    font-size: 12px;
  }
  #filterResultsContainer {
    font-size: 16px;
    display: block;
    &:after {
      content: url('./assets/images/drop-down-arrow.png');
    }
  }
  .dealerDataInnerContainer {
    hr {
      display: none;
    }
    h3 {
      font-size: 24px;
    }
  }
  .dealerNameContainer {
    height: 40px;
  }
  .contactPhone {
    background-color: $royalBlue;
    margin: 50px;
    padding: 5px;
    h3 {
      display: inline !important;
      color: $white;
      font-size: 14px;
      font-weight: bolder;
    }
    h2 {
      display: inline;
      color: $white;
    }
    img {
      content: url('./assets/images/phone-icon-mobile.png');
      float: left;
    }
  }
  .formSubmitButtonContainer {
    button {
      color: $teal;
      float: right;
      &:before {
        content: "Send";
      }
      &:after {
        content: "";
      }
    }
  }
  .tingle-modal-box__footer {
    display: none;
  }
  #mobileFooterBottom {
    display: block !important;
    a {
      img {
        vertical-align: middle;
      }
    }
    hr {
      border: 1px solid $lightGray;
      margin: 10px auto;
      width: 80%;
    }
  }
  #footerTop {
    min-height: 125px;
    padding-top: 10%;
    .socialIcon {
      vertical-align: middle;
      height: 25px;
    }
  }
  #footerBottom {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #footerBottomContainer {
    vertical-align: middle;
  }
}
