@font-face {
  font-family: 'Open Sans';
  src: url(./open-sans); }
body {
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none; }

#static-modal {
  display: none; }

label img {
  vertical-align: middle; }

input[type='checkbox'] {
  position: absolute;
  left: -9999px; }
  input[type='checkbox']:checked + label.filter:before {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 10px solid #083d8c;
    border-radius: 10px; }

label.filter {
  position: relative;
  padding: 15px 30px 15px 50px;
  cursor: pointer;
  user-select: none; }
  label.filter::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    transition: background-color .2s;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 10px; }
  label.filter:first-of-type {
    transform: translateX(-40px); }
  label.filter:last-of-type {
    transform: translateX(40px); }

#dealersInZipCode {
  padding-right: 2em;
  display: inline;
  color: #083d8c;
  font-weight: bolder;
  border-right: 1px solid #cfcfcf; }

#poolFilterContainer {
  width: 75%;
  margin: auto; }

#filterSelects {
  display: inline;
  display: inline-block; }

#topHeader {
  text-align: right;
  background-color: #083d8c;
  padding: 20px; }
  #topHeader a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px; }
  #topHeader img {
    vertical-align: middle; }

.pageContainer {
  width: 80%;
  margin: -5.3% auto auto;
  text-align: center; }

#waterImage {
  background: url("assets/images/water-image.png") no-repeat;
  box-sizing: border-box;
  width: 100%;
  height: 199px;
  background-size: 100% 100%; }

#filters {
  text-align: right;
  display: inline;
  padding-left: 20px; }

#poolProsFilter {
  background-color: #f6f6f6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto; }
  #poolProsFilter:before {
    background-color: #f6f6f6;
    display: block; }
  #poolProsFilter h3 {
    display: inline; }

.dealerCertificationContainer {
  float: left;
  width: 50%;
  margin-bottom: 10px; }
  .dealerCertificationContainer span {
    padding: 10px; }
    .dealerCertificationContainer span img {
      vertical-align: middle; }

.contactPhone h2 {
  display: inline;
  padding-left: .50em;
  vertical-align: middle; }
.contactPhone img {
  vertical-align: middle;
  height: 30px;
  width: 30px; }

#poolProsContainer {
  margin-top: 30px;
  margin-bottom: 30px; }

#poolPros {
  margin: auto; }

.dealerDataContainer {
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  box-shadow: 5px 5px #cfcfcf;
  display: inline-table;
  height: 400px;
  width: 475px;
  margin: 10px; }

.dealerDataInnerContainer {
  width: 90%;
  margin: auto;
  text-align: center; }
  .dealerDataInnerContainer h3 {
    font-size: 28px;
    font-weight: lighter;
    color: #434343; }

.dealerNameContainer {
  height: 75px; }

.contactThisPro {
  border: 2px solid #08c8c7;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 3px;
  width: calc(100% / 2);
  margin: auto; }
  .contactThisPro img {
    vertical-align: middle;
    width: 20px; }
  .contactThisPro a {
    vertical-align: middle; }

.dealerCertifications {
  background-color: #f6f6f6;
  height: 75px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px; }

.modalFormHeader {
  background-color: #083d8c;
  color: #ffffff; }
  .modalFormHeader div {
    padding: 30px; }

.innerEmailForm {
  background-color: #f6f6f6;
  padding: 20px;
  margin: 20px; }
  .innerEmailForm label {
    font-weight: bold; }
  .innerEmailForm input {
    width: 100%; }
  .innerEmailForm textarea {
    width: 100%; }
  .innerEmailForm span.optional {
    font-style: italic;
    text-align: right;
    float: right; }

.formLabelContainer {
  margin-bottom: 5px; }
  .formLabelContainer img {
    height: 20px;
    vertical-align: middle;
    text-align: right;
    float: right; }

.formInputContainer {
  margin-bottom: 10px; }

.formSubmitButtonContainer {
  text-align: center;
  padding: 20px; }
  .formSubmitButtonContainer button {
    background-color: #f6f6f6;
    border: 0;
    font-weight: bolder;
    font-size: 20px;
    vertical-align: middle; }
    .formSubmitButtonContainer button:before {
      content: "Send my email";
      display: inline-block;
      vertical-align: middle;
      line-height: normal; }
    .formSubmitButtonContainer button:after {
      content: url("./assets/images/next-arrow.png");
      display: inline-block;
      vertical-align: middle;
      line-height: normal; }
    .formSubmitButtonContainer button:hover {
      color: #083d8c;
      cursor: pointer; }
    .formSubmitButtonContainer button img {
      vertical-align: middle; }

.switchField {
  overflow: hidden; }
  .switchField input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden; }
    .switchField input:checked + label {
      background-color: #08c8c7;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .switchField label {
    float: left;
    display: inline-block;
    width: 60px;
    background-color: #ffffff;
    color: #434343;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid #434343;
    -webkit-box-shadow: inset 0 1px 3px #f6f6f6, 0 1px #434343;
    box-shadow: inset 0 1px 3px #f6f6f6, 0 1px #434343;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .switchField label:hover {
      cursor: pointer; }
    .switchField label:first-of-type {
      border-radius: 4px 0 0 4px; }
    .switchField label:last-of-type {
      border-radius: 0 4px 4px 0; }

footer {
  color: #ffffff;
  left: 0;
  bottom: 0;
  width: 100%; }
  footer a {
    text-decoration: none;
    color: #ffffff; }

#footerTop {
  background-color: #083d8c;
  text-align: center;
  min-height: 125px;
  padding-top: 50px; }
  #footerTop .socialIcon {
    vertical-align: middle;
    height: 25px; }

#footerLogo {
  width: 200px;
  padding-bottom: 20px; }

#footerBottom {
  background-color: #216ddf;
  text-align: center;
  padding: 20px 0; }

header {
  position: relative;
  border-bottom: 2px solid #cfcfcf;
  min-height: 4.5em;
  padding: 25px;
  background: #ffffff; }

#toggle {
  display: none; }

.toggle {
  display: none;
  z-index: 2; }

.menu {
  height: 100%; }
  .menu > li {
    list-style: none;
    float: left;
    height: 100%; }
    .menu > li > a {
      height: 100%;
      display: block;
      padding: 1.5em;
      color: #083d8c;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .menu > li > a:hover {
        color: #434343; }
      .menu > li > a:focus {
        color: #434343; }

.clearfix:before {
  display: table;
  content: ""; }
.clearfix:after {
  display: table;
  content: "";
  clear: both; }

#poolProsLogoContainer {
  display: inline-block;
  margin: 0;
  padding: 0.785714286em;
  line-height: 1;
  width: calc((100% / 3)); }
  #poolProsLogoContainer > img {
    float: left;
    width: 80%; }

.findAPoolPro {
  border: 1px solid #083d8c;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float: right;
  width: 175px;
  display: inline-block;
  font-weight: bold;
  margin-top: 25px;
  text-align: center; }
  .findAPoolPro div {
    display: inline;
    vertical-align: middle; }
  .findAPoolPro img {
    display: inline;
    vertical-align: middle;
    width: 25px; }
  .findAPoolPro a {
    vertical-align: middle; }

.filterSelectContainer {
  display: inline; }

nav {
  display: block;
  float: right;
  height: 100%; }

@media only screen and (max-width: 1000px) {
  #poolProsFilter {
    width: 800px; } }
@media only screen and (max-width: 768px) {
  .menu {
    background: #ffffff;
    border-top: 1px solid #083d8c;
    display: none;
    opacity: 0;
    width: 100%;
    position: absolute;
    right: 0;
    height: auto; }
    .menu > li {
      display: block;
      width: 100%;
      margin: 0;
      height: auto; }
      .menu > li > a {
        display: block;
        width: 100%;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-weight: bolder;
        color: #434343 !important;
        font-size: 24px;
        height: auto;
        padding: 15px 15px; }
        .menu > li > a:after {
          content: url("./assets/images/next-arrow.png");
          vertical-align: middle;
          text-align: right;
          float: right; }

  #topHeader {
    display: none; }

  #poolProsLogoContainer {
    text-align: center;
    float: left; }
    #poolProsLogoContainer > img {
      width: 100%; }

  .findAPoolPro {
    float: left; }

  .toggle {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    height: 75px;
    width: 75px;
    float: right; }
    .toggle:before {
      content: url("./assets/images/menu-icon-mobile.png");
      transform: scale(0.5);
      display: block;
      margin-top: -30px;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .toggle:hover:before {
      color: #216ddf; }

  #toggle:checked + nav .menu {
    display: block;
    opacity: 1; }
  #toggle:checked + nav .toggle:before {
    content: attr(data-close);
    margin-top: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #08c8c7; }

  #filterSelects {
    display: none;
    width: 100%;
    height: 100%;
    text-align: left; }

  .filterSelectContainer {
    padding-top: 2em;
    display: block; }

  #dealersInZipCode {
    font-size: 12px; }

  #filterResultsContainer {
    font-size: 16px;
    display: block; }
    #filterResultsContainer:after {
      content: url("./assets/images/drop-down-arrow.png"); }

  #poolProsFilter {
    width: 500px; }

  .contactPhone {
    background-color: #216ddf;
    margin: 50px;
    padding: 5px; }
    .contactPhone h3 {
      display: inline !important;
      color: #ffffff;
      font-size: 14px;
      font-weight: bolder; }
    .contactPhone h2 {
      display: inline;
      color: #ffffff; }
    .contactPhone img {
      content: url("./assets/images/phone-icon-mobile.png");
      float: left; } }
@media only screen and (max-width: 575px) {
  #topHeader {
    display: none; }

  #poolProsLogoContainer {
    text-align: center;
    float: left; }
    #poolProsLogoContainer > img {
      width: 100%; }

  .findAPoolPro {
    float: left; }

  #filterSelects {
    display: none;
    width: 100%;
    height: 100%;
    text-align: left; }

  .filterSelectContainer {
    padding-top: 2em;
    display: block; }

  #dealersInZipCode {
    font-size: 12px; }

  #filterResultsContainer {
    font-size: 16px;
    display: block; }
    #filterResultsContainer:after {
      content: url("./assets/images/drop-down-arrow.png"); }

  .dealerDataInnerContainer hr {
    display: none; }
  .dealerDataInnerContainer h3 {
    font-size: 24px; }

  .dealerNameContainer {
    height: 40px; }

  .contactPhone {
    background-color: #216ddf;
    margin: 50px;
    padding: 5px; }
    .contactPhone h3 {
      display: inline !important;
      color: #ffffff;
      font-size: 14px;
      font-weight: bolder; }
    .contactPhone h2 {
      display: inline;
      color: #ffffff; }
    .contactPhone img {
      content: url("./assets/images/phone-icon-mobile.png");
      float: left; }

  .formSubmitButtonContainer button {
    color: #08c8c7;
    float: right; }
    .formSubmitButtonContainer button:before {
      content: "Send"; }
    .formSubmitButtonContainer button:after {
      content: ""; }

  .tingle-modal-box__footer {
    display: none; }

  #mobileFooterBottom {
    display: block !important; }
    #mobileFooterBottom a img {
      vertical-align: middle; }
    #mobileFooterBottom hr {
      border: 1px solid #cfcfcf;
      margin: 10px auto;
      width: 80%; }

  #footerTop {
    min-height: 125px;
    padding-top: 10%; }
    #footerTop .socialIcon {
      vertical-align: middle;
      height: 25px; }

  #footerBottom {
    padding-top: 5%;
    padding-bottom: 5%; }

  #footerBottomContainer {
    vertical-align: middle; } }

/*# sourceMappingURL=poolPros.css.map */
