<div>
    <p>Fill out the form below and {{name}} will get in touch</p>
    <div class = "innerEmailForm">
        <label>First and last name</label>
        <input type = 'text' name = "firstAndLast"/>

        <label>Phone number</label>
        <input type = "text" name = "phoneNumber"/>

        <label>Email address</label>
        <input type = "email" name = "email"/>

        <label>Comments or questions</label>
        <textarea name = "commentsOrQuestions"></textarea>

        <p>Do you currently own a pool or spa?</p>
        <input type = "radio" name = "doYouOwn" id = "yes" value = "1"/>
        <label for = "yes">Yes</label>
        <input type = "radio" name = "doYouOwn" id = "no" value = "0"/>
        <label for = "no">No</label>

        <hr/>
        <button type = "submit">
            Send my email
            <img src = "/assets/images/next-arrow.png"/>
        </button>
    </div>
    <div class = "emailFormFooter">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus iaculis fermentum ex, eget bibendum tellus
            luctus a. Integer orci lectus, ultricies ac lectus at, tempor mattis felis.
        </p>
    </div>
</div>